.prof {
  animation: pulse-round 2s infinite;
  color: greenyellow;
}

@keyframes pulse-round {
  0% {
    /* border-radius: 100%; */
    box-shadow: 0 0 0 0 rgba(91, 243, 49, 0.943);
  }
  70% {
    /* border-radius: 100%; */
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }
  100% {
    /* border-radius: 100%; */
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

.hussain {
  color: orchid;
  text-decoration: underline;
  font-weight: bold;
}

.react {
  color: rgba(58, 183, 237, 0.926);
  /* text-decoration: underline; */
  /* font-weight: bold; */
}

.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
