.seeMore:hover {
  color: rgb(91, 91, 249);
}

.gridBox {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 20px;
}

/* If the browser window is 600px or smaller, the background color will be lightblue: */

@media only screen and (max-width: 600px) {
  .gridBox {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
